.landing-services {
  background-color: rgb(183, 202, 213);
  padding: 80px 0;
  position: relative;
  z-index: 20;
  border-radius: 30px;

  @media (--min-2xl) {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

.landing-services__title {
  margin: 0 0 48px;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  color: #061151;
  font-weight: 300;
}

.landing-services__grid {
  gap: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing-services__card {
  position: relative;
  z-index: 1;
  max-width: 100%;
  padding: 70px 40px;
}

.landing-services__card::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 16.2px 1.8px rgba(108, 150, 136, 0.2);
  transition: transform 0.3s ease;
}

.landing-services__card:hover::before {
  transform: scale(1.03);
}

.landing-services__card-top {
  display: flex;
  gap: 24px;
  margin-bottom: 74px;
}

.landing-services__image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 24px;
  flex-shrink: 0;
}

.landing-services__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-services__card-title {
  margin: -4px 0 10px;
  max-width: 240px;
  font-size: 18px;
  font-weight: normal;
  color: rgb(0, 0, 0);
  transition: color 0.2s ease;
  /* 2 строки */
  height: calc(18px * 1.2 * 2);
  overflow: hidden;
}

.landing-services__card:hover .landing-services__card-title {
  color: #b10a19;
}

.landing-services__desc {
  margin: 0 0 20px;
  max-width: 240px;
  font-size: 16px;
  color: rgb(109, 109, 111);
  font-weight: 300;
  /* 4 строки */
  height: calc(16px * 1.2 * 4);
  overflow: hidden;
}

.landing-services__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.landing-services__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-family: inherit;
  font-size: 12px;
  min-height: 36px;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.landing-services__btn--outline {
  background-color: transparent;
  border-color: currentColor;
  color: #777679;
}

.landing-services__btn--outline:hover {
  background-color: transparent;
  border-color: currentColor;
  color: #353536;
}

.landing-services__btn--primary {
  background-color: #0000ec;
  border-color: #0000ec;
  color: #ffffff;
}

.landing-services__btn--primary:hover {
  background-color: #1414a5;
  border-color: #1414a5;
  color: #ffffff;
}

.landing-services__features {
  display: flex;
  justify-content: space-between;
}

.landing-services__feature {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding: 0;
  text-align: center;
  position: relative;
}

.landing-services__feature::after {
  content: '';
  width: 2px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1px;
  background: #e0dfe2;
}

.landing-services__feature:last-child::after {
  display: none;
}

.landing-services__feature-top {
  font-size: 12px;
  color: rgb(109, 109, 111);
  line-height: 1;
  text-align: center;
  letter-spacing: -0.05em;
}

.landing-services__feature-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  height: 32px;
}

.landing-services__feature-image img {
  max-width: 100%;
  max-height: 100%;
}

.landing-services__feature-bottom {
  font-size: 12px;
  color: rgb(109, 109, 111);
  line-height: 1;
  text-align: center;
  letter-spacing: -0.05em;
}

@media (--max-md) {
  .landing-services {
    padding: 40px 0;
  }

  .landing-services__title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .landing-services__grid {
    gap: 20px;
  }

  .landing-services__card {
    width: 100%;
    padding: 20px;
  }

  .landing-services__card-top {
    flex-direction: column;
  }

  .landing-services__image {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
  }

  .landing-services__features {
    gap: 10px;
  }

  .landing-services__feature {
    border-right: none !important;
    padding: 0;
  }

  .landing-services__feature-top,
  .landing-services__feature-bottom {
    font-size: 10px;
    line-height: 1.2;
  }
}
