.values {
  padding: 50px 0;
  z-index: 20;
  position: relative;
  background: linear-gradient(105deg, #800000 0%, #a5001e 30%, #5b0021 55%, #2a1055 100%);
  border-radius: 30px;

  @media (--min-2xl) {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

.values__bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 30px;
}

.values__title {
  margin: 0 0 50px;
  font-size: 48px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}

.values__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
}

values__grid-cell {

}

.values__grid-cell:nth-child(even) {
  margin-top: 120px;
}

.values__card {
  padding: 70px 40px 40px 24px;
  border-radius: 30px;
  background-color: rgb(240, 240, 240);
}

.values__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-bottom: 60px;
  background: linear-gradient(45deg,#0000dc,#c8013a 73%);
  border-radius: 18px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.values__card-title {
  margin: 0 0 16px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.values__card-desc {
  margin: 0;
  font-size: 16px;
  color: #6d6d6f;
  font-weight: 300;
}

@media (--max-xl) {
  .values {
    padding: 24px 24px 0;
  }

  .values__grid {
    flex-wrap: wrap;
    gap: 50px;
  }

  .values__card:nth-child(even) {
    margin-top: 0;
  }
}

@media (--max-md) {
  .values {
    padding: 16px 12px 0;
  }

  .values__panel {
    padding: 48px 20px;
    border-radius: 20px;
  }

  .values__title {
    margin-bottom: 40px;
    font-size: 32px;
  }

  .values__card {
    width: 100%;
    max-width: 400px;
  }
}
